<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <!-- Convention before configuration, Rails checks for
      partials with the nome of BLOG not BLOGS and iterates
      over it even without a configuration (naming is very important
      in this case, otherwise it will not work!)-->
    <%= render @blogs %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
