
<div class="album text-muted">
  <div class="container">
    <div class="row sortable">

      <!-- This is a manual collection because we changed the naming
        of portfolios creating portfolio items. Blog works
        because the convention of naming Blogs is used everywhere
        as it is and did not get changed anywhere. But for portfolio
        we changed some namingspaces etc. Turning it into a
        Manual collection.
        We are saying that it will have to go to the following portfolio_item with
        the following collection -->
      <%= render partial: "portfolio_item", collection: @portfolio_items %>
    </div>
  </div>
</div>