<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>© 2020 | <b>Dany Coelho Ferreira</b> All rights reserved</p>
  </div>
</footer>